## What is a list on Python ?

Lists represent ordered sequences of values. On Python you can create lists with different types of values : numbers, letters, words, etc.

The sequence of values of a list has to be put **between brackets** and every value needs to be **separated by a comma**.

In [ ]:
#Let's name a list "A" that will contains random numbers
A=[1, 2, 3, 4, 5]
print(A)

[1, 2, 3, 4, 5]

In [ ]:
#We can also create a list with other values, such as people's name in the SPSC master
B=["Lola", "Dorianne", "Loann", "Mathias", "Célia", "Maud", "Titouan", "Kamel", "Maria", "Cyprien","Isabel", "Evaline"]
print(B)

['Lola', 'Dorianne', 'Loann', 'Mathias', 'Célia', 'Maud', 'Titouan', 'Kamel', 'Maria', 'Cyprien', 'Isabel', 'Evaline']

##Index 

Every list has an index that starts at 0 and ends at -1. **The index indicates the position of a value in a list.**

If we don't know the lenght of a list, the position -1 will always indicates the last one. 

Consequently, the position -2 will indicate the previous last one, the -3 previous previous last one and so on.

In [ ]:
     B=["Lola", "Dorianne", "Loann", "Mathias", "Célia", "Maud", "Titouan", "Kamel", "Maria", "Cyprien","Isabel", "Evaline"]
#Index  :  0         1         2         3         4       5         6         7        8         9        10      -1 or 11

#What is the first value of the list?
B[0]

'Lola'

In [ ]:
#What is the fifth value of the list ?
B[5]

'Maud'

In [ ]:
#What is the last value of the list ?
B[-1]

'Evaline'

In [ ]:
# /!\ The position you enter before the closing bracket will NOT be included

#What are the values between de third and the ninth positions ?
B[3:10]

['Mathias', 'Célia', 'Maud', 'Titouan', 'Kamel', 'Maria', 'Cyprien']

In [ ]:
#What are the six last values of the list ?
B[6:]

['Titouan', 'Kamel', 'Maria', 'Cyprien', 'Isabel', 'Evaline']

#Some functions that can be used on lists

##Lenght
You can know the lenght of a list by using the function **len()**.

In [ ]:
B=["Lola", "Dorianne", "Loann", "Mathias", "Célia", "Maud", "Titouan", "Kamel", "Maria", "Cyprien","Isabel", "Evaline"]
len(B)

12

##Alphabetical order
You can use the function **sorted()** in order to sort every value of a list in alphabetical order.

In [ ]:
B=["Lola", "Dorianne", "Loann", "Mathias", "Célia", "Maud", "Titouan", "Kamel", "Maria", "Cyprien","Isabel", "Evaline"]
sorted(B)

['Cyprien',
 'Célia',
 'Dorianne',
 'Evaline',
 'Isabel',
 'Kamel',
 'Loann',
 'Lola',
 'Maria',
 'Mathias',
 'Maud',
 'Titouan']

##Sum, minimum and maximum
Other functions can determine the minimum and maximum of a list, or calculate the sum of every value of the list.

In [ ]:
A=[1, 2, 3, 4, 5]
sum(A)

15

In [ ]:
min(A)

1

In [ ]:
max(A)

5

## References

C. (2021, September 13). Lists. Kaggle. https://www.kaggle.com/colinmorris/lists

Poulain, P. F. E. P. (n.d.). 4. Listes - Cours de Python. Université Paris Diderot. Retrieved October 7, 2021, from https://python.sdv.univ-paris-diderot.fr/04_listes/