## Data Types and Structure

**Learning Objectives** 
- Learn about data types
- Learn about relational operators
- Learn about logical operators
- Learn about lists
- Learn to manipulate lists

## Data Types

Python works with numerous data types. Some of the most basic types to get started are:

| Type       | Short | Description      | Example   |
| -          | -     |-                 | -         |
| *integer*  | int   | Natural numbers  | 42        |
| *float*    | float | Decimal values   | 0.42      |
| *string*   | str   | Characters       | "Liberal" |
| *None*     | None  | Missing values   | None      |
| *boolean*  | bool  | Logical values   | True      |

You can use the `type()` function to get the type of an object.
Furthermore, each data type allows you to do specific kinds of operations and they also restrict functions you can apply to them.

### Hack Time

Let's start by creating some variables.

In [16]:
# Lets create some objects

a = 42
b = 5 
c = a/b

year = 2020
party_1 = "Democratic"
party_2 = 'Conservative'
description = """
The American National Election Studies (ANES) 
are academically-run national surveys of voters 
in the United States, conducted before and after 
every presidential election.
"""

seven = "7"
three = "3"

In [17]:
# Use the function `type()` to check the type of these objects

In [18]:
# WARNING: What happens if you add seven with three?

In [ ]:
# Python has a special representation of boolean/logical values.
winner_1 = True
winner_2 = False

# What happens when you run this code?

In [19]:
# What happens if you sum two boolean objects?

In [21]:
# Python also has a way to store missing or empty information.
results_2024 = None

# What is the type of this object?

# Can you add the number 538 to results_2024?

TypeError: ignored

## Relational Operators

Relational Operators allow you to compare objects. They are also known as comparison operatiors. They are often used in conditional statements and loops to build programs. Reletational operators return a boolean value.


| Operator   | Description      | Example |
| :-:        |-                 | -:      |
| **==**     | Equal to         | a == b  |
| **!=**     | Not equal to     | a != b  |
| **<**      | Less than        | a  < b  |
| **<=**     | Characters       | a <= b  |
| **>**      | Logical values   | a  > b  |
| **>=**     | Logical values   | a >= b  |

### Hack Time

In [20]:
# Use relational operators to compare some of the previously created objects!

True

# Logical Operators

Logical operators allow you to join boolean expressions to create more complex conditions.

| Operator   | Description      | Example |
| :-:        |-                 | -:      |
| **and**| Both expressions | a == b  |
| **or**     | At least on expression | a != b  |
| **not**      | Reverses the expression | not True |

In [32]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [33]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

### Hack Time

You ran a survey asking questions to students in your school. You decided look at a single of those respondent's answers and to code these into separated objects.

In [30]:
# Respondent 1
age = 24
sex = "Female"
country = "France"
employed = True
voted = True
twitter = False

Can you predict the outcomes of the following statements?

In [31]:
country == "France" and age >= 18

True

In [32]:
country == "American" and age >= 35

False

In [33]:
employed or not voted

True

In [12]:
# Check if the respondent could run for president in the US
# Needs to be born in the US and at least 35 years old.

False

# Lists

We now have a better understanding of basic data type. Data structures allow you to combine multiple objects into single object. Lists are one of the most common data structures.

Lists in python allow you to group any number of objects of any type into a single object. 

Understanding lists, is the first step to efficiently work with huge amounts of data.

## Creating lists
To create a list you simply write object names seperated by commas inside square brackets.

```python 
my_new_list_object = [object_1, object_2, ...]
# ```

### Hack-time

In [ ]:
# Create a list named `observation_1` containing the previously created variables for respondent 1
respondent_1 = []

In [ ]:
# Print `respodent_1`

In [ ]:
# Check the type of the object `respondent_1`

In [ ]:
# How long is this list? Use the `len()` function!

In [ ]:
# Create values for a fictionnal new respondent.
age = 
sex = 
country = 
employed = 
voted = 
twitter = 

# Creating a new object named `respondent_2` containing the values for respondent 2.
respondent_2 = [age, sex, country, employed, voted, twitter]

In [ ]:
# Create a new list named `respondendts` containing 2 objects respondent_1 and respondent_2

# List Manipulation

Now that we have a better understanding of lists we need to learn how we can subset, slice or edit elements its elements.

### Subset

In [10]:
# Subset an element in a list: list[index]
results = ["democratic", 306, "repubilcan", 232, "libertarian", 10]
results[1]

306

WARNING: Most programming langages are *0* indexed, so is python!

#### Hack Time

In [ ]:
# Print the number of electoral votes for the republican party

### Slice

In [18]:
# Slicing lists: list[begin:end]
results[2:4]

['republican', 232]

#### Hack Time

In [19]:
# Print the party name and the number of electoral votes for the democratic party.

### Edit

In [12]:
# Editing a list
results[5] = 0
results

['democratic', 306, 'republican', 232, 'libertarian', 0]

#### Hack Time

In [20]:
# Fix the error in the name of the republican party

### Adding elements

In [22]:
# Adding to a list
alliance_party = ["Alliance", 0]
results = results + alliance_party
results

['democratic', 306, 'republican', 232, 'libertarian', 0, 'green', 0]

#### Hack Time

In [ ]:
# Add the green party to the results list

In [ ]:
# Calculate the total of electoral votes using the sum operator and the results list

In [ ]:
# We collected data about a new respondent and deciced to add it to our list 
respondent_3 = [67, "Male", "New Zealand", False, True, False]
respondents = [respondent_1, respondent_2, respondent_3]

# Calculate the average age of your respondents