# Introduction to Data Exploration
**Learning Objective:** 
- Learn to load a dataset
- Learn to explore and visualise variables
- Get familiar with common data exploration functions

## The Data Science Pipeline

![](https://mickaeltemporao.github.io/itds/images/pipeline.jpg)

## Data Acquisition
With some Python basics we will start combining existing packages to acquire, and explore data.


Before we can start looking into data, we need to load data into our machines.

In [2]:
# Load the required libraries
import pandas as pd
# Let's load real-world data with pandas
data_url = "https://raw.githubusercontent.com/datamisc/ts-2020/main/data.csv"
anes_data  = pd.read_csv(data_url, compression='gzip')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (15,17,18,19,21,22,23,25,26,27,29,30,31,33,34,35,37,38,1508,1509) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Hack-Time

In [ ]:
# What is the type of anes_data?

### Data Frames

Data Frames are lists (or series when using pandas) that are put together in a table.

![](https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png)

In [13]:
# A quick example

turnout = [66.8, 55.7, 54.9, 58.2, 56.7, 51.2, 49.0]
year = [2020, 2016, 2012, 2008, 2004, 2000, 1996]
party = ["Dem", "Rep", "Dem", "Dem", "Rep", "Rep", "Dem"]

# We are creating a data frame from scratch
my_data = pd.DataFrame(
    {
        'turnout': turnout,
        'year': year,
        'party': party,
    }
)

In [ ]:
# What is the type of `my_data`
type(my_data)

In [ ]:
# Take a look at new dataset you just created
my_data

In [16]:
# We can also learn more about our object by using the `.info()` method.
my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   turnout  7 non-null      float64
 1   year     7 non-null      int64
 2   party    7 non-null      object
dtypes: float64(1), int64(1), object(1)
memory usage: 296.0+ bytes

In [ ]:
# When your dataset is too long might just want to print the first couple 
# observations (rows) by using the `.head()` method.
my_data.head()

### Hack-Time

In [17]:
# Take a look at the head of the ANES data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8280 entries, 0 to 8279
Columns: 1771 entries, version to V203527
dtypes: float64(3), int64(1723), object(45)
memory usage: 111.9+ MB

In [ ]:
# Take a look at the info of the ANES data

## Data Exploration - Variables

Now that you have your data, you need to start getting familiar with your data. 

Most of the time you will be interested some specific concepts. So you need a way to select the variables related to your concepts.

### Selecting Variables (Columns)


Let's say you are only interested knowing the candidate who people intend to vote for (V201033).

- We can use square brackets on a DataFrame object to select a single column!

- We can also use a list of strings containing column names to select multiple columns!

![](https://pandas.pydata.org/docs/_images/03_subset_columns.svg)

In [18]:
# The `columns` attribute allows you to get the column names of a dataframe
anes_data.columns

Index(['version', 'V200001', 'V160001_orig', 'V200002', 'V200003', 'V200004',
       'V200005', 'V200006', 'V200007', 'V200008',
       ...
       'V203518', 'V203519', 'V203520', 'V203521', 'V203522', 'V203523',
       'V203524', 'V203525', 'V203526', 'V203527'],
      dtype='object', length=1771)

In [19]:
# Selecting the voting intent variable
anes_data["V201033"]

0       2
1       3
2       1
3       1
4       2
       ..
8275    2
8276    2
8277    1
8278   -1
8279    1
Name: V201033, Length: 8280, dtype: int64

In [20]:
# We can also save it in a new object and check it's type
vote_int = anes_data["V201033"]
type(vote_int)

pandas.core.series.Series

In [21]:
# Selecting multiple columns
my_vars = [
    "V201032",  # intend to vote
    "V201033",  # intend to vote for
    "V201507x",  # age
    "V201200",  # liberal-conservative self-placement
]

anes_data[my_vars]

      V201032  V201033  V201507x  V201200
0           1        2        46        6
1           1        3        37        4
2           1        1        40        2
3           1        1        41        3
4           1        2        72        5
...       ...      ...       ...      ...
8275        1        2        26       99
8276        1        2        52        6
8277        1        1        45        4
8278       -1       -1        65        6
8279        1        1        38        2

[8280 rows x 4 columns]

In [22]:
# Save this smaller subset of variables into my_df
my_df = anes_data[my_vars]
print(type(my_df))
print(my_df.shape)
print(my_df.columns)
my_df.head()

<class 'pandas.core.frame.DataFrame'>
(8280, 4)
Index(['V201032', 'V201033', 'V201507x', 'V201200'], dtype='object')

   V201032  V201033  V201507x  V201200
0        1        2        46        6
1        1        3        37        4
2        1        1        40        2
3        1        1        41        3
4        1        2        72        5

To avoid always having to check the codebook let's clean our data a bit by making the column names more explicit.

In [23]:
# Renaming the columns
my_df.columns = ["vote", "vote_int", "age", "ideology"]
my_df.head()

   vote  vote_int  age  ideology
0     1         2   46         6
1     1         3   37         4
2     1         1   40         2
3     1         1   41         3
4     1         2   72         5

### Useful Methods
Series and Data Frames provide very useful methods to quickly learn about the data. Here a some common ones

- `mean()`
- `std()`
- `min()`
- `max()`
- `count()`
- `describe()`
- `value_counts()`

In [28]:
# How many people indent to vote?
my_df["vote"].value_counts()

 1    7272
 2     570
-1     415
-9      13
-8      10
Name: vote, dtype: int64

### Hack-Time

In [ ]:
# What is the average age of the respodents in the ANES dataset?

In [27]:
# What is the average ideology of the respondents in the ANES dataset?

vote        8280
vote_int    8280
age         8280
ideology    8280
dtype: int64

- Basic Data Exploration
    - columns
    - counts
    - dtypes

## Data Visualisation

    - discrete
    - continuous

## Types of data

We have seen that there are different types of data in python (strings, integers, floats, booleans, ...). When doing research we can group data in two broad families:

**Discrete** data can only take a finite number of values.

- eg. The number of students in a class.

**Continuous** data can take an infinite number of values.

- eg. The height of a student.

In [ ]:
# Filtering data
vote_int = "V201033"  # The name of the voting intentions variables in the ANES
mask = (df[vote_int] > 0) & (df[vote_int] < 5)  # Keeping relevant observations

# Summarizing the data
tmp_data = df[vote_int].loc[mask].replace(
    {1:"Biden", 2:"Trump", 3:"Jorgensen", 4:"Hawkins"}
).value_counts(
    normalize=True
)

# Making a plot/graphic/figure
tmp_data.plot.bar(
    title="Voting Intentions", 
    ylabel="Percentage",
);

In [ ]:
# Extract tables and convert the html tables into pd.DataFrame()
df = pd.read_html(html)[0].iloc[2:,:]

## Cleaning Data

In [ ]:
# Inspect the data
df.head()

In [ ]:
# We notice that there seems to be a double header
df.columns

In [ ]:
# What is the type of columns
type(df.columns)

In [ ]:
# Let's use a loop to extract and edit each element of the MultiIndex dataframe
columnn_names = []
for c in df.columns:
    tmp = c[0].lower()
    columnn_names.append(tmp.replace(" ", "_"))

columnn_names

In [ ]:
# Let's use regular expressions in a list comprehension this time
import re
regex = "[a-z]+"
columnn_names = ["_".join(re.findall(regex, i)) for i in columnn_names]

In [ ]:
# Let's edit the columns of our dataset
df.columns = columnn_names
df.head()

In [ ]:
# What about the data types?
df.info()

In [ ]:
# Which of these variables are still objects?
df.select_dtypes(include='object')

In [ ]:
# Let's use a dictionary to recode the data types
convert_dict = {
    'error': float,
    'sample_size': int,
    'lead': float
}

df = df.astype(convert_dict)

In [ ]:
# Let's look once again at our data
df.sample(5)

In [ ]:
# What are the remaining objects?
df.select_dtypes(include='object')

In [ ]:
# Keep only necessary variables by creating a variable filter
to_keep = [
    'source',
    'date',
    'lpc',
    'cpc',
    'ndp',
    'bq',
    'gpc',
    'ppc',
    'method'
]

df = df[to_keep]

## Data IO

In [ ]:
# Save the cleaned dataframe to a file
file_name = "national_polls_2019.csv"
df.to_csv(file_name, index=False)
print(df)

df.dtypes

In [ ]:
# Read the data back-in from the recorded csv file.

# More info on read_csv
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html
df = pd.read_csv("national_polls_2019.csv", parse_dates=['date'])
df.dtypes

## Data Exploration and Visualization

In [ ]:
# Let's convert this into a time-series dataframe
df.set_index('date', inplace=True)

In [ ]:
# Time-series data should be stored in descending order
df = df.sort_values(by=['date', 'source'])

In [ ]:
# How does the data look now?
df.head()

In [ ]:
# What about the tail?
df.tail()

In [ ]:
# A time indexed data frame provides much more control over the data
df.loc[df.index > '2019-10-15']

In [ ]:
# We can look at a single party
df.lpc.loc['2019-10-20']

In [ ]:
# We can focus on a subset of columns
parties = ["lpc", "cpc", "ndp", "bq", "gpc", "ppc"]
df.loc[:, parties]

In [ ]:
# We can aggregate/resample the data
df[parties].resample('D', how='mean').head()

In [ ]:
# We can also use pandas to plot
df[parties].resample('D', how='mean').plot()


### Anatomy of a Figure
![Anatomy of a Figure](https://matplotlib.org/3.1.1/_images/anatomy.png)

In [ ]:
# We can look at the distributions for each party
df[parties].plot(kind='kde')

In [ ]:
# Or do a simple box-plot
df[parties].boxplot()

In [ ]:
# Let's look at missing values
df.isnull().mean()

In [ ]:
# We can remove missing values
df.dropna()

In [ ]:
# We just lost half of our dataset...
# Maybe we should fill the missing values
tmp_df = df.fillna(method='ffill', limit=3).copy()
tmp_df.isnull().mean()

df = tmp_df

In [ ]:
# Let's investigate which polling firms have been most active
df.source.value_counts()

In [ ]:
# Remove the firms that released less than 5 polls
tmp_mask = df.source.value_counts() >= 5
mask = tmp_mask.index[tmp_mask]

df = df[df.source.isin(mask)]

In [ ]:
# Once again we could decide to visualize directly the result
df.source.value_counts().plot(kind='barh')

In [ ]:
# Try to do grouped operations and see how did each of these firms portrayed the liberal party
df.groupby('source').lpc.describe().sort_values(by='mean')

In [ ]:
# We can also look at the means for all the parties
df.groupby('source')[parties].mean().sort_values('lpc')

In [ ]:
# We can also apply custom functions by groups
z_score = lambda x: (x-x.mean()) / x.std()
df.reset_index().groupby('source')[parties].apply(z_score).head()

In [ ]:
# Most algorithms need you to shape the date in a long format
long_df = pd.melt(
    df.reset_index(),
    id_vars=['date', 'source'],
    value_vars=parties,
    var_name='party',
    value_name='share',
)

long_df.head()

In [ ]:
# Seaborn, a statistical data visualization library uses long-format
import seaborn as sns
sns.set(style="whitegrid", palette="muted")

sns.swarmplot(
    x="party",
    y="share",
    hue="source",
    data=long_df,
)

In [ ]:
# What if we need to add the sample size back?
new_df = long_df.merge(
    df[['method', 'source']].reset_index(),
    on=['date', 'source']
)

new_df.head()

In [ ]:
# We can also expand the dataframe back to a wide format
new_df = new_df.pivot_table(
    index=['date', 'source', 'method'],
    columns='party',
    values='share',
)

new_df.head()