
#**Welcome to Python 3**

## What is Pyhton ?
The Python programming language was created in 1989 by Guido van Rossum in the Netherlands. 

Fun fact : the name of the language is a tribute to the famous comedy troupe **The Monty Python** 

![Monty Python](https://www.telerama.fr/sites/tr_master/files/styles/simplecrop1000/public/medias/2013/11/media_105282/les-monty-python-se-reforment%2CM133025.jpg?itok=7ffIcPJ2)
*(By the way you have to see one of their movies)*

---

##**How to start a code in Python ?**
###**3 tools**

1. Variable
1. Operation
1. Functions
---
##**Some types of variables**

A variable is an area of the computer's memory in which a value is stored.
There are 3 mains types of variables :
- *integer*

```python
      x = 2
```
- *floats*
```python
π = 3.14
```

- *string*

A string of characters 
```python
      a = "Classroom"
```

**1. Variable assignment**


You have to create a variable and to assign it a value
```python
number_of_student = 22
```
**2. Print a variable**

Once you created the variable you can apply function to it. 

*Print allows you to show the result a coding cell*
```python
number_of_students = 22
print(number_of_student)
```

In [ ]:
number_of_students = 22
print(number_of_students)

22

---
##**Some basic operations**

Once you created you variable you can have fun with it. 


![Having fun](https://c.tenor.com/uC0BbQti-VoAAAAM/dance-lisa-simpson.gif)


**- Addition**


```python
>>>number_of_students_in_SPSC = 12
>>>number_of_students_in_MDP = 8
>>>number_of_students_in_JO = 3

>>>all_of_us = number_of_students_in_SPSC + number_of_students_in_MDP + number_of_students_in_JO
print(all_of_us)

```

In [ ]:
number_of_students_in_SPSC = 13
number_of_students_in_MDP = 6
number_of_students_in_JO = 3
all_of_us = number_of_students_in_SPSC + number_of_students_in_MDP + number_of_students_in_JO
print(all_of_us)

22

**- Substraction**

```python
all_of_us = 22
number_of_students_in_SPSC = 11
number_of_students_in_MDP = 8

number_of_students_in_JO = all_of_us - number_of_students_in_SPSC - number_of_students_in_MDP
print(number_of_students_in_JO)

In [ ]:
all_of_us = 22
number_of_students_in_SPSC = 13
number_of_students_in_MDP = 6

number_of_students_in_JO = all_of_us - number_of_students_in_SPSC - number_of_students_in_MDP
print(number_of_students_in_JO)

3

It is possible to perform operations on all types of variables (even strings).

In [ ]:
a = "Hello " 
b = "my friend"
print (a+b)

Hellomy friend

---
#**Some functions**

Like in mathematics, a function is a list of operations applied to a variable.


![schéma_d'une_fonction](https://python.sdv.univ-paris-diderot.fr/img/schema_fonction.png)

###Print *print()*

Use to print variable or the result of an operation
```python
number_of_students = 22
print(number_of_students)
```

In [ ]:
number_of_students = 22
print(number_of_students)

22

###Length *len()*

Used to know the length of a list.
```python
len([0, 1, 2])
3
```

In [ ]:
Students =["Franck", "Evaline", "Thomas", "Dorianne", "Kamel", "Loann"]
a= len(Students)
print(a)

6

## Resources

- [Cours de Python Université Paris Diderot](https://python.sdv.univ-paris-diderot.fr/01_introduction/): an introductive course to Python in french.